.main {
    margin: 40px auto;
    width: 600px;
    max-width: 100%;
}

.main__container {
    margin-top: 48px;
}

.main__inner {
    margin-top: 24px;
}

input {
    font-size: 1em;
}

/* checkbox */
.checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
    line-height: 1.25;
}

.checkbox .checkbox-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.25em;
    height: 1.25em;
    border: .0625rem solid #ddd;
    background-color: #fff;
    border-radius: .1em;
    z-index: 4;
}

.checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    top: -.125em;
    left: -.125em;
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    font-size: 1em;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    z-index: 2;

}

.checkbox input[type="checkbox"]:checked + .checkbox-icon {
    background: #fff;
    border: .0625rem solid #ddd;
}

.checkbox input[type="checkbox"]:checked + .checkbox-icon:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 30%;
    height: 60%;
    border-bottom: .2em solid #00f;
    border-right: .2em solid #00f;
    transform:
        translate( -50%, 0 )
        rotate( 45deg );
}

.checkbox input[type="checkbox"]:focus {
    opacity: 1;
}

.checkbox .checkbox-label {
    position: relative;
    padding-left: 1.75em;
    z-index: 3;
}