.main {
    margin: 40px auto;
    width: 600px;
    max-width: 100%;
}

.main__container {
    margin-top: 48px;
}

.main__inner {
    margin-top: 24px;
}

input {
    font-size: 1em;
}



/* file */
.file {
    position: relative;
}

.file > input {
    opacity: 0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    height: 1px;
    width: 1px;
}

.file:focus-within {
    outline: 2px solid;
}

.file__button {
    display: inline-block;
    position: relative;
    z-index: 2;
    border-radius: 4px;
    border: none;
    width: 168px;
    max-width: 100%;
    text-align: center;
    background-color: #04c;
    color: #fff;
    cursor: pointer;
}

.file__text {
    margin-left: 4px;
}

.file__thumbnail + .file__delete {
    margin-top: 4px;
}

.file__delete {
    display: none;
    border-radius: 4px;
    border: none;
    width: 168px;
    max-width: 100%;
    text-align: center;
    background-color: #ddd;
    cursor: pointer;
}

.file__delete.is-show {
    display: inline-block;
}


/* checkbox */
.checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
    line-height: 1.25;
}

.checkbox .checkbox-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 1px solid #666;
    background-color: #fff;
    border-radius: 2px;
    z-index: 4;
}

.checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    margin: 0;
    font-size: 14px;
    -webkit-appearance: none;
    appearance: none;
    z-index: 2;

}

.checkbox input[type="checkbox"]:checked + .checkbox-icon {
    background: #04c;
    border: 1px solid #ddd;
}

.checkbox input[type="checkbox"]:checked + .checkbox-icon:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    width: 5px;
    height: 9px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: translate(-50%, -50%) rotate(45deg);
}

.checkbox input[type="checkbox"]:focus {
    opacity: 1;
}

.checkbox .checkbox-label {
    position: relative;
    padding-left: 24px;
    z-index: 3;
}



/* radio */
.radio {
    position: relative;
    display: inline-block;
    cursor: pointer;
    line-height: 1.25;
}

.radio .radio-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.25em;
    height: 1.25em;
    border: .0625rem solid #000;
    background-color: #fff;
    border-radius: 50%;
    z-index: 4;
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    top: -.125em;
    left: -.125em;
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    z-index: 2;
}

.radio input[type="radio"]:checked + .radio-icon {
    background: #fff;
    border: .0625rem solid #04c;
}

.radio input[type="radio"]:checked + .radio-icon:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    height: 65%;
    background-color: #04c;
    border-radius: 50%;
    transform: translate( -50%, -50% );
}

.radio input[type="radio"]:focus {
    opacity: 1;
}

.radio .radio-label {
    position: relative;
    padding-left: 1.75em;
    z-index: 3;
}



/* selectbox */
.selectbox {
    display: block;
    position: relative;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
}

.selectbox::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    border: 1px solid transparent;
    width: 0;
    height: 0;
    right: 16px;
}

.selectbox::after {
    border-width: 8px 6.5px 0 6.5px;
    border-top-color: #D6D6D6;
    top: 50%;
    transform: translateY(-50%);
}

.selectbox__body {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 0;
    font-size: 16px;
    outline: none;
    border: 3px solid #E6E6E6;
    border-radius: 0;
    font-weight: 500;
    padding: 11px 15px;
    line-height: normal;
    transition: border-color 0.2s ease, outline 0.2s ease;
}

.selectbox__body:not(:focus):invalid {
    color: #C7C7C7;
}

.selectbox__body:focus {
    box-shadow: 0 3px 4px rgb(0 91 166 / 30%) inset;
    outline: 3px solid #005BA6;
    outline-offset: -3px;
}

.selectbox[data-select-value='1'] .selectbox__body {
    padding-left: 40px;
}

.selectbox[data-select-value='1']::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 5;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #f00;
}